.row1 {
    border-left: solid;
    border-left-color: red;

}

.fm{
    padding-left: 5px;
    padding-top: 5px;
}

.row2{
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}

.grey {
    width: 215px;
    height: 290px;
    background-color: #b7b7b7;
}

.titre2{
    text-align: center;
    font-size: small;
}

.date2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
}