html, body{
    width: 100%;
}

.film{
    width: 800px;
    height: 240px;
    border-style: solid;
    border-width: thin;
    border-color: gainsboro;
    display: flex;
    justify-content: space-around;
    margin-left: 180px;
    padding-top: 15px;
    margin-top: 10px;

}

.film1{
  width : 120px;
  height: 160px;
  background-color: rgba(38,50,56,0.87);
}

img{
    width: 120px;
    height: 160px;
}

.mil{
    font-family: Helvetica, Arial;
    font-size: x-small;
    text-align: center;
    margin-top: 5px;
}

.date{
    font-family: Helvetica, Arial;
    font-size: xx-small;

}

section{
    width: 900px;
    height: fit-content;
    margin-left: 180px;
}

.box{
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.milf{
    width : 120px;
    height: 160px;
    background-color: #b7b7b7;
}